config/local.config.hocon
.DS_Store
target/

# metals
.metals/
.bsp/
.bloop/

# npm
node_modules
frontend/dist/
frontend/build

# Orval
frontend/src/api/docs/
frontend/src/api/endpoints/

# Nix
result

# Tooling
.vscode/settings.json
